html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

ul {
    padding-left: 15px;
}

button {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: #333333;
    height: 80%;
    width: 35px;
    border: none;
    border-radius: 20%;
    margin-right: 2px;
    margin-left: 2px;
    padding: .5rem;
}

button.action {
    width: 45px;
}

button:hover {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10%;
    margin-left: 35%;
    margin-right: 35%;
    border-bottom: .1rem solid gray;
}

.icon-div{
    display: flex;
    align-items:center;
    height: 100%;
    width: 10%;
    margin-top: 20px;
}

.icon{
    text-align: center;
    width: 100%;
    font-size: 1.75rem;
}

.wordle-game {
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

/* Media query for devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .wordle-game {
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        margin-left: 10%;
        margin-right: 10%;
        border-bottom: .1rem solid gray;
    }
}

.game-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0rem;
}

.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.keyboard-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    width: 480px;
    height: 100%;
    justify-content: center;
}

.row {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 250px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
}

.board-row {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}

@keyframes pop {
    0% {
        scale: 100%;
        border: .1rem solid #808080;
    }

    50% {
        scale: 110%
    }

    100% {
        scale: 100%;
        border: .15rem solid #333333
    }
}

@keyframes flipG {
    0% {
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        background: #77DD77;
        color: white;
        transform: scaleY(1);
    }
}

@keyframes flipY {
    0% {
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        background: #D1D100;
        color: white;
        transform: scaleY(1);
    }
}

@keyframes flipGr {
    0% {
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        background: #808080;
        color: white;
        transform: scaleY(1);
    }
}

@keyframes fade {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 50%;
    }
}

@keyframes open {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes close {
    0% {}

    100% {
        transform: translateY(100%);
    }

}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(2%);
    }

    20% {
        transform: translateX(-2%);
    }

    30% {
        transform: translateX(2%);
    }

    40% {
        transform: translateX(-2%);
    }

    50% {
        transform: translateX(2%);
    }

    60% {
        transform: translateX(-2%);
    }

    70% {
        transform: translateX(2%);
    }

    80% {
        transform: translateX(-2%);
    }

    90% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0);
    }

}

.board-square {
    border: .1rem solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.board-square-selected {
    border: .15rem solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.pop {
    animation-name: pop;
    animation-duration: .1s;
}

.flip-green {
    animation: flipG .5s ease forwards;
}

.flip-yellow {
    animation: flipY .5s ease forwards;

}

.flip-gray {
    animation: flipGr .5s ease forwards;

}

.green {
    color: white;
    /* Transition transform over 1s and delay background-color change until halfway through */
    background-color: #77DD77;
    /* Initial background color */
}

.gray {
    color: white;
    background-color: #808080;
}

.yellow {
    color: white;
    background-color: #D1D100;
}

.exit {
    animation: close 1s ease;
}

.enter {
    animation: open 1s ease;
}

.shake {
    animation: shake .5s ease;
}

.fade-in {
    animation: fadeIn 1s ease
}

.fade {
    animation: fade .5s ease;
}

.modal-container {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: end;
}

.alert-container {
    position: fixed;
    inset: 10% 25% 0% 25%;
    z-index: 30;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.alert {
    margin-top: 25px;
    width: 150px;
    height: 25px;
    background-color: black;
    border-radius: 5%;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.alert-title {
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: .9rem;
}

.modal-background {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 50%;
}

.modal {
    width: 45vw;
    height: 90vh;
    background-color: white;
    border-radius: 10% 10% 0 0;
    z-index: 10;

}

.top {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.close {
    margin-top: 75px;
    margin-right: 50px;
}

.close:hover {
    cursor: pointer;
}

.container {
    display: flex-row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;

}

.desc-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    margin: 0;
}

.desc-sub {
    margin: 0;
    font-weight: 400;
}


.example-row {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    height: 40px;
    width: 40px;
    gap: 5px;
}