html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    height: 10%;
    border-bottom: .1rem solid gray;
}

.wordle-game {
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.game-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -.1rem;
}

.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.board {
    width: 240px;
    height: 288px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
}

.board-row {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}

.board-square {
    border: .1rem solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;

}

.keyboard-container {
    height: 30%;
}