html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    height: 10%;
    border-bottom: .1rem solid gray;
}

.wordle-game {
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.game-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -.1rem;
}

.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.board {
    width: 250px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
}

.board-row {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}

@keyframes pop {
    0% {
        scale: 100%;
        border: .1rem solid #808080;
    }

    50% {
        scale: 110%
    }

    100% {
        scale: 100%;
        border: .15rem solid #333333
    }
}

@keyframes flipG {
    0% {
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        background: #77DD77;
        color: white;
        transform: scaleY(1);
    }
}

@keyframes flipY {
    0% {
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        background: #D1D100;
        color: white;
        transform: scaleY(1);
    }
}

@keyframes flipGr {
    0% {
        transform: scaleY(1);
    }

    50% {
        background: white;
        transform: scaleY(0);
    }

    100% {
        background: #808080;
        color: white;
        transform: scaleY(1);
    }
}

.board-square {
    border: .1rem solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.board-square-selected {
    border: .15rem solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.pop {
    animation-name: pop;
    animation-duration: .1s;
}

.flip-green {
    animation: flipG 1s ease forwards;
}

.flip-yellow {
    animation: flipY 1s ease forwards;

}

.flip-gray {
    animation: flipGr 1s ease forwards;

}

.green {
    color: white;
    /* Transition transform over 1s and delay background-color change until halfway through */
    background-color: #77DD77;
    /* Initial background color */
}

.gray {
    color: white;
    background-color: #808080;
}

.yellow {
    color: white;
    background-color: #D1D100;
}

.keyboard-container {
    height: 30%;
}